*{
 margin:0;
 padding:0;
 box-sizing: border-box; 
}

body{
  font-family: 'Alfa Slab One', cursive;
  font-weight: lighter;
  background-color:#fff;
}

.slideshow{
  width:100%;
  height:100vh;
  position:relative;
  overflow:hidden;
}

.slideshow-item{
  width:inherit;
  height:inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}


.slideshow-item img{
  width:100%;
  height:100%;
  object-fit:cover;
  animation: zoom 31s infinite;

}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
  animation-delay:0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
  animation-delay:10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
  animation-delay:20s;
}


.slideshow-item-text{
  max-width:50%;
  position: absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  background-color: rgba(0,0,0,.8);
  color: #fff;
  padding:10rem 5rem;
}

.slideshow-item-text h5{
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
}

.slideshow-item-text p{
  font-size: 1.6rem;
  font-family: 'Merriweather', 'cursive';
  letter-spacing: 1px;
  font-weight:300;
}

@keyframes cycleImages{
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }

}

@keyframes zoom{
  100%{
    transform:scale(1.3);
  }
}

@media screen and (max-width:767px){
  .slideshow-item-text{
    max-width:100%;
    padding:2rem;
    top: initial;
    bottom:0;
    transform:initial;
  }

  .slideshow-item-text h5{
    font-size:3rem;
  }

  .slideshow-item-text p{
    font-size:1.4rem;
  }

}

.heading{
  width: 94%;
  margin: 2em auto;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  color:#000000;
}

.heading p{
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size:2rem;
}



.vidbox{
  display:flex;
  justify-content:center;
}

.content h1{
  line-height: 2;
  color:#000000;
}

.content p{
  font-family: 'Merriweather', serif; 
  font-weight: bold;
  text-align:justify;
  line-height: 2;
  
}


.box{
  width:1000px;
  height:500px;
  padding:50px;
  margin:100px auto;
  box-shadow: 0px 0px 10px 2px grey;
  border:10px solid #000;
  text-align: center;
  background-color:#000; 
  text-align: center;
}

.box h3 {
  color:#fff;
}
.box p{
  color: #fff;
}

/* Mobile phones (portrait and landscape) ---------- */
@media screen and (max-width: 767px){
  .box {
      width: 100%;
      padding: 0 10px;
  }
}
/* Tablets and iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1023px){
  .box{
      width: 750px;
      padding: 0 10px;
  }
}

/*Navigation Bar and Menu Icons */

.logo {
  line-height: 60px;
  position: absolute;
  float: left;
  margin: 16px 46px;

}

nav {
  position: relative;
  width: 100%;
  line-height: 60px;
  
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow:hidden;
  background: #000; 
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
  
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #ffff00;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #ffff00;
  display: none;
}

/*Media Queries for Navigation Bars*/

@media(max-width: 786px) {

  .logo {
        position: absolute;
        top: 0;
        margin-top: 16px;
  }

  
  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}

/*Media Queries for Poster Images*/



/*Footer*/

footer{
  position:absolute;
  bottom:0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Alfa Slab One', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}