body{
  
  margin:0 auto;
  padding:0;
  font-family: 'Bangers', cursive;
  overflow-x:hidden;
}

.logo {
  line-height: 60px;
  position: absolute;
  float: left;
  margin: 16px 46px;

}

nav {
  position: relative;
  width: 100%;
  line-height: 60px;
  
}


nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow:hidden;
  background: #000; 
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
  
}

nav.black ul {
  background: #000;;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #ffff00;
  font-size: 24px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #ffff00;
  display: none;
}

/*Media Queries for Navigation Bars*/
 
@media(max-width: 786px) {
 
  .logo {
        position: absolute;
        top: 0;
        margin-top: 16px;
  }

  
  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}

@media(max-width: 936px) {

  .logo {
        position: absolute;
        top: 0;
        margin-top: 16px;
  }

  
  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}






.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide .content p {
  font-family: 'Open Sans';
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* Backgorund Images */
 
.slide:first-child {
  background: url('https://i.ibb.co/Z2XjHHS/LTWEvent-Cover.png') no-repeat
    center center/cover;
}
.slide:nth-child(2) {
  background: url('https://i.ibb.co/KbZ7Tt8/LTWSocial-Ad.png') no-repeat
    center center/cover;
}
.slide:nth-child(3) {
  background: url('https://i.ibb.co/pWvbpcG/IMG-1893.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('https://i.ibb.co/JtxR5hn/16196309930014212.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('https://ltw-live.com/Assets/Images/LTW%20Gallery/Adrenaline%20Rush%202.0/15965157601992558.jpeg') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('https://i.ibb.co/JzPqTrg/IMG-1626.jpg') no-repeat
    center center/cover;
}

.slide:nth-child(7)  {
  background: url('https://www.wallpapertip.com/wmimgs/8-89412_social-media-logos-3d.jpg') no-repeat
    center center/cover;
}







.third{
  background:#ffc62b;
  padding: 50px;
}



.content-img img{
  float: left;  
  margin-right: 15px
}

@media only screen and  (max-width:730px){
	.content-img img {
		display:block;
		float:none;
		margin:0 auto 20px !important;
	}
	
}

.container-txt h1{
  
  color:#000;
  font-size: 32px;
}


.container-txt p{
  font-family:'Open Sans', cursive;
  color:#000;
  font-size: 25px;
}

.btn-container{
  display:flex;
  justify-content:center;
  align-items:center;
}

.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

.fourth{
  background:#0a234a;
  padding: 50px;
}

.sixth{
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('https://i.ibb.co/0hVSTF6/1623255249671130.jpg');
   
    background-size: cover;
    color: white;
    padding: 100px;
}


.fifth{
  background:#DE1707;
  padding: 50px;
}

.button-container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#facebook-circle {
  
  transition: .2s all ease;
  height: 60px;
}

#facebook-circle:hover path {
  fill:#fff !important;
}

#twitter-circle {
  transition: .2s all ease;
  height: 60px;
}

#twitter-circle:hover path {
  fill: #fff !important;
}

#instagram-circle {
  transition: .2s all ease;
  height: 60px;
}

#instagram-circle:hover path {
  fill: #fff !important;
}

#youtube-circle {
  transition: .2s all ease;
  height: 60px;
}

#youtube-circle:hover path {
  fill: #fff !important;
}

#tiktok-circle {
  transition: .2s all ease;
  height: 60px;
}

#tiktok-circle:hover path {
  fill: #fff !important;
}
